*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width:100%;
    height: 100%;
}

/*============================================== Navbar =================================*/
.view1{
    width: 100%;
    box-sizing: border-box;
    background-color: #eadede;
}
.navbar{
    box-sizing: border-box;
    width:100%;
    height: 100px;
}


.view1 .navbar ul .left{
  
    width: 50%;
    height: 100%;
    float:left;  
}

.view1 .navbar ul .right{
    width: 50%;
    height: 100%;
    float:right;
}

.view1 .navbar ul .left li{
    display: inline-block;
    padding-left: 20%;
}

.view1 .navbar ul .left .header{

    padding-left: 0px;
}
.view1 .navbar ul .left .header a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.view1 .navbar ul .left .logo{
    
    padding-top:15px;
}
.view1 .navbar ul .right li {
    display: inline-block;
    padding-top:35px;
    padding-right: 50px;
}
.view1 .navbar ul .right a {
    text-decoration: none;
    color:rgb(42, 40, 40);

}
/*============================================== Second View =================================*/

.view2{
    width:100%;
    height: 90vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.view2 h2{
    font-weight: 800;
    padding-top: 50px;
}
.view2 p{
    margin-bottom: 35px;
}

.view2 .card-group{
    width:100%;
    display: inline-block;
    margin-bottom: 40px;
}

.view2 .card-group .card{
    width:350px;

    border:1px solid rgb(227, 217, 217);
    display: inline-block;
    margin-right: 20px;
    padding:20px 10px;
}

.view2 .card-group .card:hover{
    border-top: 5px solid salmon;
    box-shadow: 0px 4px 6px rgb(67, 65, 65);
}

.view2 .card-group .card .icon{
width: 50px;
margin: 25px 0px;
}

.view2 .card-group .card .card-name{
    color:rgb(238, 155, 0);
 }

 .view2 .ReadMore , .view2 .furits-section .fruit-album .left-album button, .view3 .left-album button{
    padding:15px;
    width:135px;
    color: #fff;
    margin:  10px 10px 20px 0px;
    border:none;
    background-color: black;
    font-size: 15px;
 }

 .view2 .ReadMore:hover , .view3 .left-album button:hover{
    background-color: #fff;
    color: black;
    border:1px solid black;
 }
/*============================================== View No.3 =================================*/
 /*================= Fruit Album ================*/

 .view3 
 {
    width: 100%;
    height: 115vh;
    margin: 0;
 }
 
.view3 .data{
    text-align: center;
    margin: 35px;
}

 .furits-section .fruit-album .left-album{
    width:60%;
    float:left;
    padding-left:10%;
    margin-top: 50px;
 }

 .furits-section .fruit-album .left-album .best-fruit{
    font-size: 25px;
    margin-bottom: 40px;
 }

 .furits-section .fruit-album .left-album .hints{
    margin-bottom: 15px;
 }
 .furits-section .fruit-album .right-album{
    width:35%;
    float:right;

 }
 .furits-section .fruit-album .right-album img{
    width: 350px;
    height: 200px;
    object-fit: contain;
    margin-top: 25px;
    padding-right: 80px;
 }

/*============================================== View No.7 =================================*/
.view7{
    width:100%;
    height:70vh;
    padding-top: 40px;
    background-color: #fbfbfb;
    box-sizing: border-box;
    position: relative;


}
.view7 .left-content{

    width:60%;
    height: 100%;
    float:left;
    padding-left: 50px; 
}
.view7 .left-content .contect {
    width:100px;
    margin-left: 100px;
    display: inline-block;
}

.view7 .right-content-social{
    width:40%;
    height: 100%;
    float: right;
    padding-left: 50px;
}
.view7 .right-content-social img{
    width:30px;
    margin: 25px 5px;
}

.view7 .right-content-social input{
    margin: 10px 0 0 0;
    width:200px;
    padding:5px;
}

.view7 .right-content-social button{
    width:100px;
    padding:5px;
    color:#fff;
    margin-top: 15px;
    background-color: darkorange;
    border: none;
    cursor: pointer;
}
.view7 .copyright{
    text-align: center;
    align-items: center;
    margin-bottom:50px;
    position:absolute;
    left:43%;
    bottom: 35px;
}

